---
swagger: "2.0"
info:
  description: "Connector of useful tools for making simpler, faster and easier Flows"
  version: "1"
  title: Composer
host: api.powertools.tachytelic.net
basePath: /PowerToolsFunctions
tags:
- name: Array Functions
  description: Functions related to array manipulation
- name: Batching
  description: Functions related to SharePoint or Dataverse API Batching
- name: Microsoft Word
  description: Microsoft Word Functions
- name: Regular Expression Operations
  description: Regular Expression Functions
- name: String Functions
  description: Functions to perform string operations
- name: Compression
  description: Functions to create or extract from Zip archives
- name: Date Functions
- name: Misc Tools
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- api_key: []
paths:
  /array/aggregate:
    post:
      tags:
      - Array Functions
      summary: Array - Aggregate Data
      description: "Aggregates values from an array of numbers or objects (Sum, Average etc)"
      operationId: Aggregate
      parameters:
      - in: body
        name: body
        description: Parameters for aggregation
        required: true
        schema:
          $ref: '#/definitions/body'
      responses:
        "200":
          description: The result of the aggregation
          schema:
            $ref: '#/definitions/inline_response_200'
        "400":
          description: "Bad request, such as missing required parameters or invalid inputs"
          schema:
            $ref: '#/definitions/inline_response_400'
        "500":
          description: Server error
          schema:
            $ref: '#/definitions/inline_response_500'
      x-examples:
        application/json:
          request:
            Numbers:
            - 10
            - 20
            - 30
            - 40
            - 50
            AggregationMethod: sum
          response_200:
            Result: 150
          response_400:
            error: Numbers array was not provided.
          response_500:
            error: An unexpected error occurred.
  /array/merge:
    post:
      tags:
      - Array Functions
      summary: Array - Merge Two Arrays
      description: Merges two arrays into a single array on a common property
      operationId: ArrayMerge
      parameters:
      - in: body
        name: body
        description: Parameters for merging arrays
        required: true
        schema:
          $ref: '#/definitions/body_1'
      responses:
        "200":
          description: The merged array
          schema:
            type: array
            items:
              type: object
              properties: {}
        "400":
          description: "Bad request, such as missing required parameters or invalid inputs"
          schema:
            $ref: '#/definitions/inline_response_400'
        "500":
          description: Server error
          schema:
            $ref: '#/definitions/inline_response_500'
  /batch/dataverse/create:
    post:
      tags:
      - Batching
      summary: Dataverse - Batch Create Records
      description: Generates a Dataverse Create Batch request
      operationId: BatchCreateDataverseRecords
      parameters:
      - in: body
        name: body
        description: Parameters for generating a SharePoint Create Batch request
        required: true
        schema:
          $ref: '#/definitions/body_2'
      responses:
        "200":
          description: The Dataverse Create Batch request
          schema:
            type: array
            items:
              $ref: '#/definitions/inline_response_200_1'
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/inline_response_400'
        "500":
          description: Server error
          schema:
            $ref: '#/definitions/inline_response_500'
  /batch/dataverse/deleteadvanced:
    post:
      tags:
      - Batching
      summary: Dataverse - Batch Delete Records (Advanced)
      description: Generates a Dataverse Delete Batch request
      operationId: BatchDeleteDataverseRecordsAdvanced
      parameters:
      - in: body
        name: body
        description: Parameters for generating a SharePoint Create Batch request
        required: true
        schema:
          $ref: '#/definitions/body_3'
      responses:
        "200":
          description: The Dataverse Delete Batch request
          schema:
            type: array
            items:
              $ref: '#/definitions/inline_response_200_2'
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/inline_response_400'
        "500":
          description: Server error
          schema:
            $ref: '#/definitions/inline_response_500'
  /batch/dataverse/deletesimple:
    post:
      tags:
      - Batching
      summary: Dataverse - Batch Delete Records (Simple)
      description: Generates a Dataverse Delete Batch request
      operationId: BatchDeleteDataverseRecordsSimple
      parameters:
      - in: body
        name: body
        description: Parameters for generating a SharePoint Create Batch request
        required: true
        schema:
          $ref: '#/definitions/body_4'
      responses:
        "200":
          description: The Dataverse Delete Batch request
          schema:
            type: array
            items:
              $ref: '#/definitions/inline_response_200_2'
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/inline_response_400'
        "500":
          description: Server error
          schema:
            $ref: '#/definitions/inline_response_500'
  /batch/sharepoint/create:
    post:
      tags:
      - Batching
      summary: SharePoint - Batch Create Items
      description: Generates a SharePoint Create Batch request
      operationId: BatchCreateSharePointItems
      parameters:
      - in: body
        name: body
        description: Parameters for generating a SharePoint Create Batch request
        required: true
        schema:
          $ref: '#/definitions/body_5'
      responses:
        "200":
          description: The SharePoint Create Batch request
          schema:
            type: array
            items:
              $ref: '#/definitions/inline_response_200_3'
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/inline_response_400'
        "500":
          description: Server error
          schema:
            $ref: '#/definitions/inline_response_500'
  /batch/sharepoint/delete:
    post:
      tags:
      - Batching
      summary: SharePoint - Batch Delete Items
      description: Generates a SharePoint Batch Delete request
      operationId: BatchDeleteSharePointItems
      parameters:
      - in: body
        name: body
        description: Parameters for generating a SharePoint Delete Batch request
        required: true
        schema:
          $ref: '#/definitions/body_6'
      responses:
        "200":
          description: The SharePoint Delete Batch request
          schema:
            type: array
            items:
              $ref: '#/definitions/inline_response_200_3'
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/inline_response_400'
        "500":
          description: Server error
          schema:
            $ref: '#/definitions/inline_response_500'
  /csv/tojson:
    post:
      tags:
      - Misc Tools
      summary: CSV - Parse CSV Content
      description: Parses a CSV file and returns its content as a structured JSON array.
      operationId: CsvToJson
      parameters:
      - in: body
        name: body
        description: The CSV content and optional parsing parameters.
        required: true
        schema:
          $ref: '#/definitions/body_7'
      responses:
        "200":
          description: The parsed CSV data as an array of objects.
          headers:
            x-RowCount:
              type: integer
              description: The number of rows parsed.
            x-Base64Input:
              type: boolean
              description: Indicates if the input was provided as Base64.
          schema:
            type: array
            items:
              type: object
              additionalProperties:
                type: string
        "400":
          description: "Bad request, such as missing required parameters or invalid inputs."
          schema:
            $ref: '#/definitions/inline_response_400'
        "500":
          description: Server error.
          schema:
            $ref: '#/definitions/inline_response_500'
  /dates/nextworkingday:
    post:
      tags:
      - Date Functions
      summary: Date - Calculate Next Working Day
      description: Calculates the next working day given a date and working day preferences.
      operationId: dateNextWorkingDay
      parameters:
      - in: body
        name: body
        description: Parameters for date calculation.
        required: true
        schema:
          $ref: '#/definitions/body_8'
      responses:
        "200":
          description: The next working day after the given date.
          schema:
            $ref: '#/definitions/inline_response_200_4'
        "400":
          description: "Bad request, such as missing required parameters or invalid inputs."
          schema:
            $ref: '#/definitions/inline_response_400'
        "500":
          description: Server error.
          schema:
            $ref: '#/definitions/inline_response_500_1'
  /dates/generateworkingdays:
    post:
      tags:
      - Date Functions
      summary: Date - Generate Working Days
      description: Generates an array of working days based on start date and preferences.
      operationId: dateGenerateWorkingDays
      parameters:
      - in: body
        name: body
        description: Parameters for generating a list of working days.
        required: true
        schema:
          $ref: '#/definitions/body_9'
      responses:
        "200":
          description: Array of generated working days.
          schema:
            type: array
            items:
              $ref: '#/definitions/inline_response_200_5'
        "400":
          description: "Bad request, such as missing required parameters or invalid inputs."
          schema:
            $ref: '#/definitions/inline_response_400_1'
        "500":
          description: Server error.
          schema:
            $ref: '#/definitions/inline_response_500_1'
      x-ms-examples:
        GenerateWorkingDays:
          summary: Example request for generating working days.
          value:
            date: 2025-02-20
            addDays: 5
            mondayWorking: true
            tuesdayWorking: true
            wednesdayWorking: true
            thursdayWorking: true
            fridayWorking: true
            saturdayWorking: false
            sundayWorking: false
            excludeDays:
            - 2025-02-21
  /extractformattachments:
    post:
      tags:
      - Misc Tools
      summary: Forms - Extract Attachments from Submission
      description: Extract Attachments from Submission
      operationId: ExtractFormAttachments
      parameters:
      - in: body
        name: body
        description: Form Response
        required: true
        schema:
          type: object
      responses:
        "200":
          description: The content of the Zip file
          schema:
            type: array
            items:
              $ref: '#/definitions/inline_response_200_6'
        "400":
          description: "Bad request, such as missing required parameters or invalid inputs"
          schema:
            $ref: '#/definitions/inline_response_400'
        "500":
          description: Server error
          schema:
            $ref: '#/definitions/inline_response_500'
  /json/path:
    post:
      tags:
      - Misc Tools
      summary: Execute JSONPath Query
      description: Executes a JSONPath query on the provided JSON
      operationId: jsonPath
      parameters:
      - in: body
        name: body
        description: JSON and JSONPath query
        required: true
        schema:
          $ref: '#/definitions/body_10'
      responses:
        "200":
          description: The result of the JSONPath query
          schema:
            $ref: '#/definitions/inline_response_200_7'
        "400":
          description: "Bad request, such as missing required parameters or invalid inputs"
          schema:
            $ref: '#/definitions/inline_response_400'
        "500":
          description: Server error
          schema:
            $ref: '#/definitions/inline_response_500'
  /msword/extracttext:
    post:
      tags:
      - Microsoft Word
      summary: Word - Extract Text from Document
      description: Extracts Text from Word Document
      operationId: ExtractTextFromWord
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/body_11'
      responses:
        "200":
          description: The content of the Word document
          schema:
            $ref: '#/definitions/inline_response_200_8'
        "400":
          description: "Bad request, such as missing required parameters or invalid inputs"
          schema:
            $ref: '#/definitions/inline_response_400'
        "500":
          description: Server error
          schema:
            $ref: '#/definitions/inline_response_500'
  /msword/extractcomments:
    post:
      tags:
      - Microsoft Word
      summary: Word - Extract Comments from Document
      description: Extract Comments from Document
      operationId: ExtractCommentsFromWord
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/body_12'
      responses:
        "200":
          description: The comments extracted from the Word document
          schema:
            $ref: '#/definitions/inline_response_200_9'
        "404":
          description: No comments found in the Word document
          schema:
            $ref: '#/definitions/inline_response_404'
        "500":
          description: Server error
          schema:
            $ref: '#/definitions/inline_response_500_2'
  /regex/regexmatch:
    post:
      tags:
      - Regular Expression Operations
      summary: Regex - Perform Match on Input String
      description: Searches a given input string with a specified regex pattern.
      operationId: RegexMatch
      parameters:
      - in: body
        name: body
        description: Parameters for performing regex match
        required: true
        schema:
          $ref: '#/definitions/body_13'
      responses:
        "200":
          description: Array of detailed match data.
          schema:
            type: array
            items:
              $ref: '#/definitions/inline_response_200_10'
        "400":
          description: "Bad request, such as missing required parameters or invalid inputs"
          schema:
            $ref: '#/definitions/inline_response_400'
        "500":
          description: Server error
          schema:
            $ref: '#/definitions/inline_response_500'
  /regex/regexreplace:
    post:
      tags:
      - Regular Expression Operations
      summary: Regex - Replace in Text
      description: Replace a string with a regex pattern and a new value.
      operationId: RegexReplace
      parameters:
      - in: body
        name: body
        description: "The input string, regex pattern and replacement string."
        required: true
        schema:
          $ref: '#/definitions/body_14'
      responses:
        "200":
          description: The string after performing the regex replace operation.
          schema:
            $ref: '#/definitions/inline_response_200_11'
        "400":
          description: "Bad request, such as missing required parameters or invalid inputs"
          schema:
            $ref: '#/definitions/inline_response_400'
        "500":
          description: Server error
          schema:
            $ref: '#/definitions/inline_response_500'
  /regex/regexmatchbatch:
    post:
      tags:
      - Regular Expression Operations
      summary: Regex - Batch Match in Text
      description: Searches a given input string with multiple specified regex patterns.
      operationId: RegexMatchBatch
      parameters:
      - in: body
        name: body
        description: Parameters for performing batch regex match
        required: true
        schema:
          $ref: '#/definitions/body_15'
      responses:
        "200":
          description: Array of detailed match data for each regex operation.
          schema:
            type: object
        "400":
          description: "Bad request, such as missing required parameters or invalid inputs"
          schema:
            $ref: '#/definitions/inline_response_400'
        "500":
          description: Server error
          schema:
            $ref: '#/definitions/inline_response_500'
  /string/extractemails:
    post:
      tags:
      - String Functions
      summary: Text - Extract Email Addresses
      description: Extracts email addresses from the provided text
      operationId: ExtractEmailsFromText
      parameters:
      - in: body
        name: body
        description: Text to search for email addresses
        required: true
        schema:
          $ref: '#/definitions/body_16'
      responses:
        "200":
          description: An array of email addresses found in the text
          schema:
            type: array
            items:
              type: string
              description: Email address found in the text
              title: Email Address
              x-ms-summary: Email Address
          x-ms-summary: An array of email addresses found in the text
        "400":
          description: "Bad request, such as missing required parameters or invalid inputs"
          schema:
            $ref: '#/definitions/inline_response_400'
        "500":
          description: Server error
          schema:
            $ref: '#/definitions/inline_response_500'
  /string/cleantext:
    post:
      tags:
      - String Functions
      summary: Text - Clean Text
      description: Cleans the input text by removing specified characters.
      operationId: CleanText
      parameters:
      - in: body
        name: body
        description: Parameters for cleaning text
        required: true
        schema:
          $ref: '#/definitions/body_17'
      responses:
        "200":
          description: The cleaned text
          schema:
            $ref: '#/definitions/inline_response_200_12'
        "400":
          description: "Bad request, such as missing required parameters or invalid inputs"
          schema:
            $ref: '#/definitions/inline_response_400'
        "500":
          description: Server error
          schema:
            $ref: '#/definitions/inline_response_500'
  /string/extracttext:
    post:
      tags:
      - String Functions
      summary: Text - Extract Between Two Strings
      description: Extracts text between two specified strings from the provided text.
      operationId: ExtractText
      parameters:
      - in: body
        name: body
        description: Parameters for extracting text
        required: true
        schema:
          $ref: '#/definitions/body_18'
      responses:
        "200":
          description: The extracted text
          schema:
            $ref: '#/definitions/inline_response_200_13'
        "400":
          description: "Bad request, such as missing required parameters or invalid inputs"
          schema:
            $ref: '#/definitions/inline_response_400'
        "500":
          description: Server error
          schema:
            $ref: '#/definitions/inline_response_500_3'
  /string/extractmultipletexts:
    post:
      tags:
      - String Functions
      summary: Text - Extract Multiple Texts Between Strings
      description: Extracts all occurrences of text between specified strings.
      operationId: ExtractMultipleTexts
      parameters:
      - in: body
        name: body
        description: Parameters for extracting multiple texts
        required: true
        schema:
          $ref: '#/definitions/body_19'
      responses:
        "200":
          description: An array of extracted texts
          schema:
            type: array
            items:
              type: string
              description: A single extracted text occurrence
              title: Extracted Text
        "400":
          description: "Bad request, such as missing required parameters or invalid inputs"
          schema:
            $ref: '#/definitions/inline_response_400'
        "500":
          description: Server error
          schema:
            $ref: '#/definitions/inline_response_500'
  /string/hashstring:
    post:
      tags:
      - String Functions
      summary: Hash
      description: Hashes a string using the specified algorithm
      operationId: hashstring
      parameters:
      - in: body
        name: body
        description: Parameters for hasing
        required: true
        schema:
          $ref: '#/definitions/body_20'
      responses:
        default:
          description: default
          schema: {}
  /xslttransform:
    post:
      tags:
      - Misc Tools
      summary: Transform XML using XSLT
      description: Transforms an XML document using an XSLT stylesheet
      operationId: XSLTTransform
      parameters:
      - in: body
        name: body
        description: The XML and XSLT content with optional parameters
        required: true
        schema:
          $ref: '#/definitions/body_21'
      responses:
        "200":
          description: The result of the XSLT transformation.
          schema:
            type: string
        "400":
          description: "Bad request, such as missing required parameters or invalid inputs."
          schema:
            $ref: '#/definitions/inline_response_400'
        "500":
          description: Server error.
          schema:
            $ref: '#/definitions/inline_response_500_1'
  /zip/zipcontent:
    post:
      tags:
      - Compression
      summary: Zip - Create a Zip file
      description: Creates a Zip File from JSON Content
      operationId: ZipContent
      consumes:
      - application/json
      produces:
      - application/octet-stream
      parameters:
      - in: body
        name: body
        description: JSON payload containing the zip file parameters
        required: true
        schema:
          $ref: '#/definitions/body_22'
      responses:
        "200":
          description: The content of the Zip file
          schema:
            type: string
            title: File Content
            format: binary
            x-ms-summary: File Content
            x-ms-description: The content of the Zip file.
        "400":
          description: "Bad request, such as missing required parameters or invalid inputs"
          schema:
            $ref: '#/definitions/inline_response_400'
        "500":
          description: Server error
          schema:
            $ref: '#/definitions/inline_response_500'
  /zip/extractarchive:
    post:
      tags:
      - Compression
      summary: Archive - Extract Archive Content
      description: "Extracts content from a supported archive (ZIP, 7Z, RAR, TAR, GZIP, BZIP2, XZ) provided in base64 encoding, with optional password decryption."
      operationId: ExtractArchive
      parameters:
      - in: body
        name: body
        description: JSON payload containing the base64 encoded archive file
        required: true
        schema:
          $ref: '#/definitions/body_23'
      responses:
        "200":
          description: The extracted content of the archive
          schema:
            $ref: '#/definitions/inline_response_200_14'
        "400":
          description: "Invalid request, such as incorrect password or missing parameters"
          schema:
            $ref: '#/definitions/inline_response_400_2'
        "500":
          description: Server error
          schema:
            $ref: '#/definitions/inline_response_400_2'
  /zip/listarchivecontent:
    post:
      tags:
      - Compression
      summary: Archive - List Archive Contents
      description: "Lists the contents of a supported archive (ZIP, 7Z, RAR, TAR, GZIP, BZIP2, XZ), including encrypted files when a password is provided."
      operationId: ListArchiveContent
      parameters:
      - in: body
        name: body
        description: JSON payload containing the base64 encoded archive file
        required: true
        schema:
          $ref: '#/definitions/body_24'
      responses:
        "200":
          description: The file list of the archive
          schema:
            $ref: '#/definitions/inline_response_200_15'
        "400":
          description: "Invalid request, such as incorrect password or missing parameters"
          schema:
            $ref: '#/definitions/inline_response_400_2'
        "500":
          description: Server error
          schema:
            $ref: '#/definitions/inline_response_400_2'
  /zip/extractfilefromarchive:
    post:
      tags:
      - Compression
      summary: Archive - Extract a Single File from Archive
      description: "Extracts a single file from a supported archive (ZIP, 7Z, RAR, TAR, GZIP, BZIP2, XZ), with optional password decryption."
      operationId: ExtractFileFromArchive
      parameters:
      - in: body
        name: body
        description: JSON payload containing the base64 encoded archive file
        required: true
        schema:
          $ref: '#/definitions/body_25'
      responses:
        "200":
          description: The content of the extracted file
          schema:
            $ref: '#/definitions/inline_response_200_14_Files'
        "400":
          description: Invalid request or incorrect password
          schema:
            $ref: '#/definitions/inline_response_400_2'
        "404":
          description: File not found in the archive
          schema:
            $ref: '#/definitions/inline_response_400_2'
        "500":
          description: Server error
          schema:
            $ref: '#/definitions/inline_response_400_2'
securityDefinitions:
  api_key:
    description: API key required for authentication
    type: apiKey
    name: X-ApiKey
    in: header
definitions:
  body:
    type: object
    required:
    - AggregationMethod
    - Numbers
    properties:
      Numbers:
        type: array
        example:
        - 5
        - 10
        description: An array of numbers or objects to aggregate
        title: Numbers
        items: {}
      AggregationField:
        type: string
        description: The field to aggregate on
        title: Aggregation Field
      AggregationMethod:
        type: string
        description: The method to use for aggregation
        title: Aggregation Method
        default: sum
        enum:
        - sum
        - average
        - min
        - max
        - count
        - concatenate
        x-ms-enum-values:
        - displayName: Sum
          value: sum
        - displayName: Average
          value: average
        - displayName: Min
          value: min
        - displayName: Max
          value: max
        - displayName: Count
          value: count
  inline_response_200:
    type: object
    properties:
      Result:
        type: number
        description: The result of the aggregation
        title: Result
  inline_response_400:
    type: object
    properties:
      error:
        type: string
  inline_response_500:
    type: object
    properties:
      error:
        type: string
        description: Error message describing the server issue
  body_1:
    type: object
    required:
    - Array1
    - Array2
    - CommonProperty
    - MergeMode
    properties:
      Array1:
        type: string
        description: The first array to merge
        title: Array 1
      Array2:
        type: string
        description: The second array to merge
        title: Array 2
      CommonProperty:
        type: string
        description: The property to use for merging the arrays
        title: Common Property
      MergeMode:
        type: string
        description: The mode to use for merging the arrays
        title: Merge Mode
        default: RetainArray1
        enum:
        - RetainArray1
        - IntersectionOnly
        x-ms-enum-values:
        - displayName: Retain All from Array 1
          value: RetainArray1
        - displayName: Intersection Only (Drop All Unmatched)
          value: IntersectionOnly
  body_2:
    type: object
    required:
    - BatchSize
    - Items
    - OrganizationID
    - TableName
    properties:
      OrganizationID:
        type: string
        description: Address of Dataverse environment - e.g. org7a1b6b7d.crm4.dynamics.com
        title: Site Address
      TableName:
        type: string
        description: The name of the Dataverse Table
        title: Table Name
      TablePrefix:
        type: string
        description: The prefix for the table
        title: Table Prefix
      BatchSize:
        type: integer
        description: The number of items to include in each batch
        title: Batch Size
        x-ms-enum-values:
        - displayName: "100"
          value: 100
        - displayName: 250 (Recommended)
          value: 250
        - displayName: "500"
          value: 500
        - displayName: "750"
          value: 750
        - displayName: 1000 (Maximum)
          value: 1000
      Items:
        type: array
        description: The items to create in the Dataverse Table
        title: Items
        items:
          type: object
          properties: {}
  Headers:
    type: object
    properties:
      Content-Type:
        type: string
        description: Content type of the request
      OData-Version:
        type: string
        description: The OData version of the request
      OData-MaxVersion:
        type: string
        description: The maximum OData version of the request
      Accept:
        type: string
        description: The content type of the response
    description: All headers for the batch request
  inline_response_200_1:
    type: object
    properties:
      URI:
        type: string
        description: The URI endpoint for the Dataverse batch request
        title: API Endpoint
      Headers:
        $ref: '#/definitions/Headers'
      BatchBody:
        type: string
        description: The body of the batch create request
  body_3:
    type: object
    required:
    - BatchSize
    - Items
    - OrganizationID
    - TableName
    properties:
      OrganizationID:
        type: string
        description: Address of Dataverse environment - e.g. org7a1b6b7d.crm4.dynamics.com
        title: Site Address
      TableName:
        type: string
        description: The name of the Dataverse Table
        title: Table Name
      TablePrefix:
        type: string
        description: The prefix for the table
        title: Table Prefix
      BatchSize:
        type: integer
        description: The number of items to include in each batch
        title: Batch Size
        x-ms-enum-values:
        - displayName: "100"
          value: 100
        - displayName: 250 (Recommended)
          value: 250
        - displayName: "500"
          value: 500
        - displayName: "750"
          value: 750
        - displayName: 1000 (Maximum)
          value: 1000
      Items:
        type: array
        description: Simple array of record GUIDs to delete in the Dataverse Table
        title: Items
        items:
          type: string
          format: guid
  inline_response_200_2:
    type: object
    properties:
      URI:
        type: string
        description: The URI endpoint for the Dataverse batch request
        title: API Endpoint
      Headers:
        $ref: '#/definitions/Headers'
      BatchBody:
        type: string
        description: The body of the batch delete request
  body_4:
    type: object
    required:
    - BatchSize
    - Items
    properties:
      BatchSize:
        type: integer
        description: The number of items to include in each batch
        title: Batch Size
        x-ms-enum-values:
        - displayName: "100"
          value: 100
        - displayName: 250 (Recommended)
          value: 250
        - displayName: "500"
          value: 500
        - displayName: "750"
          value: 750
        - displayName: 1000 (Maximum)
          value: 1000
      Items:
        type: array
        description: Output from List Rows Action
        title: Items
        items:
          type: object
          properties: {}
  body_5:
    type: object
    required:
    - BatchSize
    - Items
    - ListName
    - ODataLevel
    - SiteName
    properties:
      SiteName:
        type: string
        description: The address of the SharePoint site
        title: Site Address
      ListName:
        type: string
        description: The name of the SharePoint list
        title: List Name
      BatchSize:
        type: integer
        description: The number of items to include in each batch
        title: Batch Size
        x-ms-enum-values:
        - displayName: "100"
          value: 100
        - displayName: 250 (Recommended)
          value: 250
        - displayName: "500"
          value: 500
        - displayName: "750"
          value: 750
        - displayName: 1000 (Maximum)
          value: 1000
      ODataLevel:
        type: string
        description: The OData level of the request
        title: OData Level
        default: verbose
        enum:
        - verbose
        - nometadata
        x-ms-visibility: advanced
        x-ms-enum-values:
        - displayName: Verbose
          value: verbose
        - displayName: No Metadata
          value: nometadata
      Items:
        type: array
        description: The items to create in the SharePoint list
        title: Items
        items:
          type: object
          properties: {}
  Headers_1:
    type: object
    properties:
      X-RequestDigest:
        type: string
        description: The request digest for authentication
      Content-Type:
        type: string
        description: Content type and boundary of the request
      Content-Length:
        type: string
        description: The length of the batch request content in bytes
    description: The headers for the batch request
  inline_response_200_3:
    type: object
    properties:
      URI:
        type: string
        description: The URI endpoint for the SharePoint batch request
        title: API Endpoint
      Headers:
        $ref: '#/definitions/Headers_1'
      BatchBody:
        type: string
        description: The body of the batch request
  body_6:
    type: object
    required:
    - BatchSize
    - Items
    - ListName
    - ODataLevel
    - SiteName
    properties:
      SiteName:
        type: string
        description: The address of the SharePoint site
        title: Site Address
      ListName:
        type: string
        description: The name of the SharePoint list
        title: List Name
      BatchSize:
        type: integer
        description: The number of items to include in each batch
        title: Batch Size
        x-ms-enum-values:
        - displayName: "100"
          value: 100
        - displayName: 250 (Recommended)
          value: 250
        - displayName: "500"
          value: 500
        - displayName: "750"
          value: 750
        - displayName: 1000 (Maximum)
          value: 1000
      ODataLevel:
        type: string
        description: The OData level of the request
        title: OData Level
        default: verbose
        enum:
        - verbose
        - nometadata
        x-ms-visibility: advanced
        x-ms-enum-values:
        - displayName: Verbose
          value: verbose
        - displayName: No Metadata
          value: nometadata
      Items:
        type: array
        description: The items to create in the SharePoint list
        title: Items
        items:
          type: object
          properties: {}
  body_7:
    type: object
    required:
    - CSV
    properties:
      CSV:
        type: string
        description: The CSV content as a raw string or Base64-encoded.
        title: CSV Content
      Delimiter:
        type: string
        description: "The character used as the column delimiter (default is comma `,`)."
        title: Delimiter
        default: ","
      SkipLines:
        type: integer
        description: The number of lines to skip before reading the data.
        title: Skip Lines
      ColumnHeaders:
        type: string
        description: "Comma-separated list of column headers. If not provided, the first row will be used."
        title: Column Headers
  body_8:
    type: object
    required:
    - addDays
    - date
    properties:
      date:
        type: string
        format: date
        description: The starting date for the calculation.
        title: Start Date
        x-ms-summary: Start Date
        x-ms-visibility: important
      mondayWorking:
        type: boolean
        default: true
        x-ms-visibility: advanced
        x-ms-summary: Work on Monday?
        x-ms-enum-values:
        - displayName: "Yes"
          value: true
        - displayName: "No"
          value: false
      tuesdayWorking:
        type: boolean
        default: true
        x-ms-visibility: advanced
        x-ms-summary: Work on Tuesday?
        x-ms-enum-values:
        - displayName: "Yes"
          value: true
        - displayName: "No"
          value: false
      wednesdayWorking:
        type: boolean
        default: true
        x-ms-visibility: advanced
        x-ms-summary: Work on Wednesday?
        x-ms-enum-values:
        - displayName: "Yes"
          value: true
        - displayName: "No"
          value: false
      thursdayWorking:
        type: boolean
        default: true
        x-ms-visibility: advanced
        x-ms-summary: Work on Thursday?
        x-ms-enum-values:
        - displayName: "Yes"
          value: true
        - displayName: "No"
          value: false
      fridayWorking:
        type: boolean
        default: true
        x-ms-summary: Work on Friday?
        x-ms-visibility: advanced
        x-ms-enum-values:
        - displayName: "Yes"
          value: true
        - displayName: "No"
          value: false
      saturdayWorking:
        type: boolean
        default: false
        x-ms-summary: Work on Saturday?
        x-ms-visibility: advanced
        x-ms-enum-values:
        - displayName: "Yes"
          value: true
        - displayName: "No"
          value: false
      sundayWorking:
        type: boolean
        default: false
        x-ms-visibility: advanced
        x-ms-summary: Work on Sunday?
        x-ms-enum-values:
        - displayName: "Yes"
          value: true
        - displayName: "No"
          value: false
      addDays:
        type: number
        x-ms-summary: In X days time.
      excludeDays:
        type: array
        description: Array of additional holiday dates.
        title: Additional Holidays
        items:
          type: string
          format: date
          description: Holiday Date
          title: Holiday Date
        x-ms-visibility: advanced
  inline_response_200_4:
    type: object
    properties:
      nextWorkingDay:
        type: string
        format: date
        example: 2025-02-21
        description: The next working day calculated (YYYY-MM-DD).
        title: Next Working Day
        x-ms-summary: Next Working Day
      year:
        type: integer
        example: 2025
        description: The year of the next working day.
        title: Year
        x-ms-summary: Year
      month:
        type: integer
        example: 2
        description: The month of the next working day.
        title: Month
        x-ms-summary: Month
      day:
        type: integer
        example: 21
        description: The day of the month for the next working day.
        title: Day
        x-ms-summary: Day
      dayOfWeek:
        type: string
        example: Friday
        description: The day of the week for the next working day.
        title: Day of Week
        x-ms-summary: Day of Week
      isoWeek:
        type: integer
        example: 8
        description: The ISO 8601 week number.
        title: ISO Week
        x-ms-summary: ISO Week
      elapsedCalendarDays:
        type: integer
        example: 2
        description: Total calendar days from the start date to the next working day.
        title: Elapsed Calendar Days
        x-ms-summary: Elapsed Calendar Days
      nonWorkingDaysSkipped:
        type: integer
        example: 1
        description: Number of non-working days skipped.
        title: Non-Working Days Skipped
        x-ms-summary: Non-Working Days Skipped
      holidaysSkipped:
        type: array
        example:
        - 2025-02-20
        description: List of holidays that were skipped.
        title: Holidays Skipped
        items:
          type: string
          format: date
        x-ms-summary: Holidays Skipped
  inline_response_500_1:
    type: object
    properties:
      error:
        type: string
        description: Error message describing the server issue.
  body_9:
    type: object
    required:
    - addDays
    - date
    properties:
      date:
        type: string
        format: date
        example: 2025-02-20
        description: The starting date for generating working days.
        title: Start Date
        x-ms-summary: Start Date
        x-ms-visibility: important
      addDays:
        type: integer
        example: 5
        description: The number of working days to generate.
        title: Number of Working Days
        x-ms-summary: Number of Working Days
      mondayWorking:
        type: boolean
        description: Should Monday be considered a working day?
        title: Work on Monday?
        default: true
        x-ms-summary: Work on Monday?
        x-ms-enum-values:
        - displayName: "Yes"
          value: true
        - displayName: "No"
          value: false
      tuesdayWorking:
        type: boolean
        description: Should Tuesday be considered a working day?
        title: Work on Tuesday?
        default: true
        x-ms-summary: Work on Tuesday?
        x-ms-enum-values:
        - displayName: "Yes"
          value: true
        - displayName: "No"
          value: false
      wednesdayWorking:
        type: boolean
        description: Should Wednesday be considered a working day?
        title: Work on Wednesday?
        default: true
        x-ms-summary: Work on Wednesday?
        x-ms-enum-values:
        - displayName: "Yes"
          value: true
        - displayName: "No"
          value: false
      thursdayWorking:
        type: boolean
        description: Should Thursday be considered a working day?
        title: Work on Thursday?
        default: true
        x-ms-summary: Work on Thursday?
        x-ms-enum-values:
        - displayName: "Yes"
          value: true
        - displayName: "No"
          value: false
      fridayWorking:
        type: boolean
        description: Should Friday be considered a working day?
        title: Work on Friday?
        default: true
        x-ms-summary: Work on Friday?
        x-ms-enum-values:
        - displayName: "Yes"
          value: true
        - displayName: "No"
          value: false
      saturdayWorking:
        type: boolean
        description: Should Saturday be considered a working day?
        title: Work on Saturday?
        default: false
        x-ms-summary: Work on Saturday?
        x-ms-enum-values:
        - displayName: "Yes"
          value: true
        - displayName: "No"
          value: false
      sundayWorking:
        type: boolean
        description: Should Sunday be considered a working day?
        title: Work on Sunday?
        default: false
        x-ms-summary: Work on Sunday?
        x-ms-enum-values:
        - displayName: "Yes"
          value: true
        - displayName: "No"
          value: false
      excludeDays:
        type: array
        description: Array of dates to exclude from the working days.
        title: Exclude Specific Dates
        items:
          type: string
          format: date
          example: 2025-02-21
        x-ms-summary: Exclude Specific Dates
  inline_response_200_5:
    type: object
    properties:
      workingDay:
        type: string
        format: date
        description: The generated working day (YYYY-MM-DD).
        title: Working Day
        x-ms-summary: Working Day
      year:
        type: integer
        description: The year of the working day.
        title: Year
        x-ms-summary: Year
      month:
        type: integer
        description: The month of the working day.
        title: Month
        x-ms-summary: Month
      day:
        type: integer
        description: The day of the month for the working day.
        title: Day
        x-ms-summary: Day
      dayOfWeek:
        type: string
        description: The name of the weekday.
        title: Day of Week
        x-ms-summary: Day of Week
      isoWeek:
        type: integer
        description: The ISO 8601 week number.
        title: ISO Week
        x-ms-summary: ISO Week
      elapsedCalendarDays:
        type: integer
        description: Total calendar days from the start date to each working day.
        title: Elapsed Calendar Days
        x-ms-summary: Elapsed Calendar Days
      nonWorkingDaysSkipped:
        type: integer
        description: The number of non-working days skipped.
        title: Non-Working Days Skipped
        x-ms-summary: Non-Working Days Skipped
      holidaysSkipped:
        type: array
        description: List of excluded holidays skipped.
        title: Holidays Skipped
        items:
          type: string
          format: date
        x-ms-summary: Holidays Skipped
  inline_response_400_1:
    type: object
    properties:
      error:
        type: string
        description: Error message describing the issue.
  inline_response_200_6:
    type: object
    properties:
      name:
        type: string
        description: Filename with Extension
        title: File Name
        x-ms-summary: File Name
      link:
        type: string
        description: Full path to the file
        title: Link
        x-ms-summary: Link
      id:
        type: string
        description: File Identifier
        title: ID
        x-ms-summary: ID
      type:
        type: string
        title: Type
        x-nullable: true
      size:
        type: integer
        description: File Size in Bytes
        title: File Size
        x-ms-summary: File Size
      referenceId:
        type: string
        title: Reference ID
      driveId:
        type: string
        description: Drive where the file is stored
        title: Drive ID
        x-ms-summary: Drive ID
      status:
        type: integer
        title: Status
      uploadSessionUrl:
        type: string
        title: Upload Session URL
        x-nullable: true
  body_10:
    type: object
    required:
    - Json
    - JsonPath
    properties:
      Json:
        type: string
        description: The JSON content to query
        x-ms-summary: Input JSON
      JsonPath:
        type: string
        description: The JSONPath query to execute
        x-ms-summary: JSON Path Query
  inline_response_200_7:
    type: object
    properties:
      result:
        type: array
        description: Array of objects based on the JSONPath query result
        items: {}
  body_11:
    type: object
    required:
    - WordFileContent
    properties:
      WordFileContent:
        type: string
        format: byte
        description: The content of the word file
        title: File Content
        pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
  inline_response_200_8:
    type: object
    properties:
      text:
        type: string
        description: Text extracted from the Word document
        title: Text
        x-ms-summary: Text
  body_12:
    type: object
    required:
    - WordFileContent
    properties:
      WordFileContent:
        type: string
        format: byte
        description: The base64-encoded content of the Word file
        title: File Content
        pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
  inline_response_200_9_comments:
    type: object
    properties:
      Author:
        type: string
        description: The author of the comment
      Initials:
        type: string
        description: The initials of the author
      Date:
        type: string
        format: date-time
        description: The date the comment was made
      Text:
        type: string
        description: The comment text
  inline_response_200_9:
    type: object
    properties:
      comments:
        type: array
        description: A list of comments found in the Word document
        items:
          $ref: '#/definitions/inline_response_200_9_comments'
  inline_response_404:
    type: object
    properties:
      error:
        type: string
        example: No Comments found
        description: Error message
  inline_response_500_2:
    type: object
    properties:
      error:
        type: string
        example: An internal server error occurred.
        description: Error message describing the server issue
  body_13:
    type: object
    required:
    - InputString
    - Pattern
    properties:
      InputString:
        type: string
        description: The input text to search within.
        title: Input String
      Pattern:
        type: string
        description: The regex pattern to match against the input string.
        title: Pattern
      CaseSensitive:
        type: string
        description: Whether the match should be case sensitive.
        title: Case Sensitive
        default: "False"
        enum:
        - "True"
        - "False"
        x-ms-visibility: advanced
        x-ms-enum-values:
        - displayName: "Yes"
          value: "True"
        - displayName: "No"
          value: "False"
      Multiline:
        type: string
        description: Whether the match should consider multiple lines.
        title: Multiline
        default: "True"
        enum:
        - "True"
        - "False"
        x-ms-visibility: advanced
        x-ms-enum-values:
        - displayName: "Yes"
          value: "True"
        - displayName: "No"
          value: "False"
      GlobalSearch:
        type: string
        description: Whether to find all matches or just the first.
        title: Global Search
        default: "True"
        enum:
        - "True"
        - "False"
        x-ms-visibility: advanced
        x-ms-enum-values:
        - displayName: "Yes"
          value: "True"
        - displayName: "No"
          value: "False"
      IgnoreWhitespace:
        type: string
        description: Whether to ignore whitespace in the regex pattern.
        title: Ignore Whitespace
        default: "False"
        enum:
        - "True"
        - "False"
        x-ms-visibility: advanced
        x-ms-enum-values:
        - displayName: "Yes"
          value: "True"
        - displayName: "No"
          value: "False"
      SingleLine:
        type: string
        description: Whether dot matches any character including newline.
        title: Single Line
        default: "False"
        enum:
        - "True"
        - "False"
        x-ms-visibility: advanced
        x-ms-enum-values:
        - displayName: "Yes"
          value: "True"
        - displayName: "No"
          value: "False"
  inline_response_200_10:
    type: object
    properties:
      Match:
        type: string
        description: The matched string.
      Index:
        type: integer
        description: The starting index of the match.
      Length:
        type: integer
        description: The length of the matched string.
      End:
        type: integer
        description: The ending index of the matched string.
      Groups:
        type: array
        description: An array of captured groups within the match.
        items:
          type: string
  body_14:
    type: object
    required:
    - InputString
    - Pattern
    - Replacement
    properties:
      InputString:
        type: string
        description: The input text to search within.
        title: Input String
      Pattern:
        type: string
        description: The regex pattern to match against the input string.
        title: Pattern
      Replacement:
        type: string
        description: The replacement string.
        title: Replacement String
      CaseSensitive:
        type: string
        description: Whether the match should be case sensitive.
        title: Case Sensitive
        default: "False"
        enum:
        - "True"
        - "False"
        x-ms-visibility: advanced
        x-ms-enum-values:
        - displayName: "Yes"
          value: "True"
        - displayName: "No"
          value: "False"
      Multiline:
        type: string
        description: Whether the match should consider multiple lines.
        title: Multiline
        default: "True"
        enum:
        - "True"
        - "False"
        x-ms-visibility: advanced
        x-ms-enum-values:
        - displayName: "Yes"
          value: "True"
        - displayName: "No"
          value: "False"
      GlobalSearch:
        type: string
        description: Whether to find all matches or just the first.
        title: Global Search
        default: "True"
        enum:
        - "True"
        - "False"
        x-ms-visibility: advanced
        x-ms-enum-values:
        - displayName: "Yes"
          value: "True"
        - displayName: "No"
          value: "False"
      IgnoreWhitespace:
        type: string
        description: Whether to ignore whitespace in the regex pattern.
        title: Ignore Whitespace
        default: "False"
        enum:
        - "True"
        - "False"
        x-ms-visibility: advanced
        x-ms-enum-values:
        - displayName: "Yes"
          value: "True"
        - displayName: "No"
          value: "False"
      SingleLine:
        type: string
        description: Whether dot matches any character including newline.
        title: Single Line
        default: "False"
        enum:
        - "True"
        - "False"
        x-ms-visibility: advanced
        x-ms-enum-values:
        - displayName: "Yes"
          value: "True"
        - displayName: "No"
          value: "False"
  inline_response_200_11:
    type: object
    properties:
      Result:
        type: string
        description: The result of the regex replace operation
  regexregexmatchbatch_RegexOperations:
    type: object
    required:
    - Pattern
    - PropertyName
    properties:
      PropertyName:
        type: string
        description: The name of the property for this regex operation.
        title: Property Name
      Pattern:
        type: string
        description: The regex pattern to match against the input string.
        title: Pattern
      CaseSensitive:
        type: string
        description: Whether the match should be case sensitive.
        title: Case Sensitive
        default: "False"
        enum:
        - "True"
        - "False"
        x-ms-visibility: advanced
        x-ms-enum-values:
        - displayName: "Yes"
          value: "True"
        - displayName: "No"
          value: "False"
      Multiline:
        type: string
        description: Whether the match should consider multiple lines.
        title: Multiline
        default: "True"
        enum:
        - "True"
        - "False"
        x-ms-visibility: advanced
        x-ms-enum-values:
        - displayName: "Yes"
          value: "True"
        - displayName: "No"
          value: "False"
      GlobalSearch:
        type: string
        description: Whether to find all matches or just the first.
        title: Global Search
        default: "False"
        enum:
        - "True"
        - "False"
        x-ms-visibility: advanced
        x-ms-enum-values:
        - displayName: "Yes"
          value: "True"
        - displayName: "No"
          value: "False"
      SingleLine:
        type: string
        description: Whether dot matches any character including newline.
        title: Single Line
        default: "False"
        enum:
        - "True"
        - "False"
        x-ms-visibility: advanced
        x-ms-enum-values:
        - displayName: "Yes"
          value: "True"
        - displayName: "No"
          value: "False"
  body_15:
    type: object
    required:
    - InputString
    - RegexOperations
    properties:
      InputString:
        type: string
        description: The input text to search within.
        title: Input String
      RegexOperations:
        type: array
        description: Array of regex operations to be performed.
        title: Rx
        items:
          $ref: '#/definitions/regexregexmatchbatch_RegexOperations'
  body_16:
    type: object
    required:
    - TextToSearch
    properties:
      TextToSearch:
        type: string
        description: The text content to search for email addresses
        x-ms-summary: Text to Search
  body_17:
    type: object
    required:
    - stringToClean
    properties:
      stringToClean:
        type: string
        description: The text content to be cleaned
        title: String to Clean
      charactersToRemove:
        type: string
        description: Characters to remove from the text content
        title: Characters to Remove
      trimString:
        type: string
        description: Should whitespace be trimmed from the string
        title: Trim String
        default: "True"
        enum:
        - "True"
        - "False"
        x-ms-enum-values:
        - displayName: "Yes"
          value: "True"
        - displayName: "No"
          value: "False"
      removeControlCharacters:
        type: string
        description: Remove control characters be removed from the string?
        title: Remove Control Characters
        default: "False"
        enum:
        - "True"
        - "False"
        - RetainNewLines
        x-ms-enum-values:
        - displayName: "Yes"
          value: "True"
        - displayName: "No"
          value: "False"
        - displayName: Remove control characters but retain new lines
          value: RetainNewLines
  inline_response_200_12:
    type: object
    properties:
      cleanedString:
        type: string
        description: The text after cleaning
        title: Cleaned String
  body_18:
    type: object
    required:
    - endString
    - startString
    - textToSearch
    properties:
      textToSearch:
        type: string
        description: The text content to search within.
        title: Text to Search
      startString:
        type: string
        description: The starting string to look for.
        title: Start Text
      endString:
        type: string
        description: The ending string to look for.
        title: End Text
      includeBounds:
        type: string
        description: Include the Start and End Text in the extracted text.
        title: Include Bounds
        default: "True"
        enum:
        - "True"
        - "False"
        x-ms-enum-values:
        - displayName: "Yes"
          value: "True"
        - displayName: "No"
          value: "False"
      ignoreCase:
        type: string
        description: Whether the search should ignore case.
        title: Ignore Case
        default: "False"
        enum:
        - "True"
        - "False"
        x-ms-enum-values:
        - displayName: "Yes"
          value: "True"
        - displayName: "No"
          value: "False"
      trimResult:
        type: string
        description: Whether to trim the extracted text.
        title: Trim Result
        default: "True"
        enum:
        - "True"
        - "False"
        x-ms-enum-values:
        - displayName: "Yes"
          value: "True"
        - displayName: "No"
          value: "False"
  inline_response_200_13:
    type: object
    properties:
      extractedText:
        type: string
        description: Text extracted between the specified start and end strings.
        title: Extracted Text
  inline_response_500_3:
    type: object
    properties:
      error:
        type: string
        description: Error message
  body_19:
    type: object
    required:
    - endString
    - startString
    - textToSearch
    properties:
      textToSearch:
        type: string
        description: The text content to search within.
        title: Text to Search
      startString:
        type: string
        description: The starting string to look for.
        title: Start Text
      endString:
        type: string
        description: The ending string to look for.
        title: End Text
      includeBounds:
        type: string
        description: Include the Start and End Text in the extracted texts.
        title: Include Bounds
        default: "True"
        enum:
        - "True"
        - "False"
        x-ms-enum-values:
        - displayName: "Yes"
          value: "True"
        - displayName: "No"
          value: "False"
      ignoreCase:
        type: string
        description: Whether the search should ignore case.
        title: Ignore Case
        default: "False"
        enum:
        - "True"
        - "False"
        x-ms-enum-values:
        - displayName: "Yes"
          value: "True"
        - displayName: "No"
          value: "False"
      trimResult:
        type: string
        description: Whether to trim the extracted texts.
        title: Trim Result
        default: "True"
        enum:
        - "True"
        - "False"
        x-ms-enum-values:
        - displayName: "Yes"
          value: "True"
        - displayName: "No"
          value: "False"
  body_20:
    type: object
    properties:
      StringToHash:
        type: string
        description: The string to has
        title: String to Hash
      Algorithm:
        type: string
        description: The algorithm to use for hashing
        title: Algorithm
        default: MD5
        enum:
        - MD5
        - SHA1
        - SHA256
        - SHA384
        - SHA512
        x-ms-enum-values:
        - displayName: MD5
          value: MD5
        - displayName: SHA1
          value: SHA1
        - displayName: SHA256
          value: SHA256
        - displayName: SHA384
          value: SHA384
        - displayName: SHA512
          value: SHA512
  body_21:
    type: object
    required:
    - XmlString
    - XsltString
    properties:
      XmlString:
        type: string
        description: The XML content to be transformed.
        title: XML String
      XsltString:
        type: string
        description: The XSLT stylesheet content.
        title: XSLT String
      XsltParameters:
        type: object
        description: JSON object containing parameters for the XSLT transformation.
        title: XSLT Parameters
        additionalProperties:
          type: string
  zipzipcontent_Files:
    type: object
    required:
    - Content
    - Name
    properties:
      Name:
        type: string
        description: The name of the file
      Content:
        type: string
        format: byte
        description: File Content in base64 encoding
        pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
  body_22:
    type: object
    required:
    - Files
    properties:
      CompressionLevel:
        type: string
        description: Compression level for the Zip file
        default: ZIP_DEFLATED
        enum:
        - ZIP_DEFLATED
        - ZIP_STORED
        - ZIP_LZMA
        x-ms-summary: Compression Level
        x-ms-enum-values:
        - displayName: ZIP_DEFLATED - Best balance of compression and speed (default)
          value: ZIP_DEFLATED
        - displayName: "ZIP_STORED - No compression, just stores files"
          value: ZIP_STORED
        - displayName: "ZIP_LZMA - Highest compression, but slowest"
          value: ZIP_LZMA
      Files:
        type: array
        description: Array of filenames and content
        items:
          $ref: '#/definitions/zipzipcontent_Files'
      Password:
        type: string
        description: (Optional) Password for encrypting the ZIP file
        x-ms-summary: Password
        x-ms-visibility: advanced
      EncryptionLevel:
        type: string
        description: Sets the encryption level for the ZIP file.
        default: None
        enum:
        - None
        - ZIP_STANDARD
        - AES128
        - AES192
        - AES256
        x-ms-summary: Encryption Level
        x-ms-visibility: advanced
        x-ms-enum-values:
        - displayName: None - No Encryption
          value: None
        - displayName: ZIP_STANDARD - Weak legacy encryption (not recommended)
          value: ZIP_STANDARD
        - displayName: AES128 Encryption (secure)
          value: AES128
        - displayName: AES192 Encryption (more secure)
          value: AES192
        - displayName: AES256 Encryption (strongest)
          value: AES256
  body_23:
    type: object
    required:
    - ArchiveFileContent
    properties:
      ArchiveFileContent:
        type: string
        format: byte
        description: Base64 encoded content of the archive file
        pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
      Password:
        type: string
        description: (Optional) Password for decrypting the archive
        x-ms-summary: Password
        x-ms-visibility: advanced
  inline_response_200_14_Files:
    type: object
    properties:
      Filename:
        type: string
        description: Name of the extracted file
      Content:
        type: string
        format: byte
        description: Base64 encoded content of the extracted file
        pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
  inline_response_200_14:
    type: object
    properties:
      Files:
        type: array
        items:
          $ref: '#/definitions/inline_response_200_14_Files'
  inline_response_400_2:
    type: object
    properties:
      error:
        type: string
        description: Explanation of the issue
  body_24:
    type: object
    required:
    - ArchiveFileContent
    properties:
      ArchiveFileContent:
        type: string
        format: byte
        description: Base64 encoded content of the archive file
        pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
      Password:
        type: string
        description: (Optional) Password for encrypted archives
        x-ms-summary: Password
        x-ms-visibility: advanced
  inline_response_200_15:
    type: object
    properties:
      Files:
        type: array
        items:
          type: string
          description: Name of each file within the archive
  body_25:
    type: object
    required:
    - ArchiveFileContent
    - FileNameToExtract
    properties:
      ArchiveFileContent:
        type: string
        format: byte
        description: Base64 encoded content of the archive file
        pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
      FileNameToExtract:
        type: string
        description: Name of the file to extract from the archive
      Password:
        type: string
        description: (Optional) Password for decrypting the archive
        x-ms-summary: Password
        x-ms-visibility: advanced
parameters: {}
responses: {}
